<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOnFAU0AIxNaSSJjWau5w60DvWmH_SdlY</string>
	<key>GCM_SENDER_ID</key>
	<string>93601692837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.white.green.KotlinProject</string>
	<key>PROJECT_ID</key>
	<string>vibe-607b0</string>
	<key>STORAGE_BUCKET</key>
	<string>vibe-607b0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93601692837:ios:a7bfdad134ef4f3fd4214c</string>
</dict>
</plist>